
// Black skin
.device--black {
  &.device {
    background: $black-bg;

    .device__footer:after {
      border-color: $black-white;
    }
  }
}

// noShadow skin
.device--no-shadow {
  &.device {
    box-shadow: none;
  }
}

// Inverted skin
.device--inverted {

  $black: $black-bg;
  $white: $black-white;

  &.device {
    background: $black;
    border-color: $white;

    .device__header {
      background-color: $white;
      &:after, &:before {
        background-color: $white;
      }
    }

    .device__footer {
      border-color: $white;
      &:after {
        border-color: $white;
      }
    }
  }
}

// Touch skin
.device--touch {
  &.device {
    .device__footer:after {
      visibility: hidden;
    }
  }
}