@mixin ipad-mini($i) {
  .device--scale-#{$i} {
    &.device--ipad-mini {

      .device__header:after {
        transform: translate(0, 15px * $scale * $i);
      }

      .device__content {
        width: 768px * $scale * $i;
        height: 1024px * $scale * $i;
        margin: 80px * $scale * $i 25px * $scale * $i;
      }

    }
  }
}


